- Here, we attempt to use Triangulated Irregular Network (TIN) modeling to reconstruct a volume using a set of cloud points in 3D space. TIN involves constructing a mesh of triangular facets to represent the surface of the object. The vertices of the triangles are defined by the points in the point cloud, and the surface is then approximated by connecting these points with triangular facets.

<br>

- TIN modeling is a good option for fitting a surface to a set of point clouds in 3 dimensions, and below, we implement it using some Python libraries such as scikit-learn or PySurfer.

In [68]:
# Install necessary modules

#!pip install numpy_stl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy_stl in /usr/local/lib/python3.8/dist-packages (3.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from numpy_stl) (1.21.6)
Requirement already satisfied: python-utils>=3.4.5 in /usr/local/lib/python3.8/dist-packages (from numpy_stl) (3.4.5)

In [69]:
# Import the python modules

import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [111]:
df.columns

Index(['x', 'y', 'z'], dtype='object')

In [108]:
import pandas as pd

# Load the data into a pandas DataFrame
data = pd.read_csv('/content/drive/MyDrive/Datasets/Monkey_Head_coordinates/pavillion2.csv')


data = data.drop(columns=['y', 'z'])

data[['x', 'y', 'z']] = data['x'].str.split(',', expand=True)

In [110]:
data.head()

                   x                 y                  z
0   202.157959218265  2.45151495933533  37.86828301443535
1  202.1998178913607  4.87631464004517   37.8677519370504
2  202.2496378376498  7.27234745025635  37.86691526665169
3  202.3076326801791  9.63988304138184  37.86578087105232
4  202.3754923298373  12.0277643203735  37.86432359709221

In [138]:
import pandas as pd
from scipy.spatial import Delaunay
from stl import mesh
from numpy import array

# Load the point clouds from a CSV file
df = pd.read_csv('/content/drive/MyDrive/Datasets/Monkey_Head_coordinates/pavillion2.csv')

df = df.drop(columns=['y', 'z'])

df[['x', 'y', 'z']] = df['x'].str.split(',', expand=True)

# Extract the x, y, and z coordinates from the DataFrame
x = df['x'].values
y = df['y'].values
z = df['z'].values

tri = Delaunay(X)

# Create a mesh object from the triangulation
surface_mesh = mesh.Mesh(np.zeros(tri.simplices.shape[0], dtype=mesh.Mesh.dtype))
for i, f in enumerate(tri.simplices):
    for j in range(3):
        surface_mesh.vectors[i][j] = X[f[j]]

# Save the mesh as an STL file
surface_mesh.save('surface_mesh.stl')